<?xml version="1.0"?>

<launch>

  <arg name="world_name" default="worlds/empty.world"/>
  <arg name="x" default="10"/>
  <arg name="y" default="12"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/> <!-- world_name is wrt GAZEBO_RESOURCE_PATH environment variable -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
  </include>


  <node name="publisher_node" pkg="husky_pos_vel" type="publisher_node" output="screen">
    <param name="x" value="$(arg x)"/>
    <param name="y" value="$(arg y)"/>
  </node>

  <node name="controller_node" pkg="husky_pos_vel" type="controller_node" output="screen"/>
  
</launch>
